[package]
name = "nb2pb"
version = "0.1.1"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/dragazo/nb2pb"
documentation = "https://docs.rs/nb2pb"
description = """
Compiles NetsBlox projects into PyBlox projects
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "nb2pb"
path = "src/lib.rs"
crate-type = ["lib", "cdylib"]

[[bin]]
name = "nb2pb"
path = "src/main.rs"

[dependencies]
netsblox-ast = "0.1.1"
serde = "1.0.133"
serde_json = "1.0.74"
once_cell = "1.9.0"
pyo3 = { version = "0.15.1", features = ["extension-module"], optional = true }

[build-dependencies]
pyo3-build-config = "0.15.1"